* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 600px;
  margin: auto;
}

#header {
  padding: 10px;
  border: 1px solid #000000;
  margin-bottom: 30px;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

#input-form {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 30px auto;

}

#main-input {
  width: 70%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding-left: 20px;
}

#submit-btn {
  width: 70px;
  border: none;
  background-color: #008CBA;;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  
}

ul li {
  text-decoration: none;
  position: relative;
  height: 50px;
  font-size: 18px;
  padding: 15px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

ul li.checked {
  text-decoration: line-through;
  color: #cccccc;
}


.delete-btn {
  cursor: pointer;
  background-color: #f44336;;
  padding-top: 3px;
  text-align: center;
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ffffff;
}

.done-btn {
  cursor: pointer;
  background-color: #4CAF50;
  padding-top: 3px;
  text-align: center;
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 90px;
}